{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <h1>{{ .Title }}</h1>
    <p class="post-meta">
        {{- with .Params.categories -}}
            {{- if ge (len .) 1 -}}
                {{- range . -}}
                    <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/">{{ . }}</a>
                {{ end -}}
            {{- end -}}
        {{- end -}}
        |
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>



    {{ .Content }}
</article>
{{ end }}
